@charset "UTF-8";
body{
     background-image: url(ヘッダー.png);
     background-position: center;
     background-attachment: fixed;
     background-size: cover;
}
.group{
  margin-bottom: 5%;
}
h1{
  font-size: 5vw;
  text-align: center;
  color: #eaf6fd;
  padding-bottom: 7vw;
}
h2{
  font-size: 3vw;
  text-align: center;
  background-color: #dbedf0;
  border-top: 3px solid #0c4da2;
  border-bottom: 3px solid #0c4da2;
}
h3{
  background-color: #dbedf0;
  font-size: 2vw;
  text-align: left;
  padding-left: 10%;
  padding-top: 1%;
}
.end{
  background:rgba(219,237,240,.3);
  background-size: 100%;
}
.text{
  text-align: left;
  padding-left: 15%;
  font-size: 1.5vw;
  background-color: #dbedf0;
}
.Line-Item{
  text-align: center;
  display: block;
  padding-left: 0%;
  color: #dbedf0;
  font-size: 3vw;
}
@media (max-width:600px) {

  .end{
    background-size: 150%;
  }
  .text{
    text-align: left;
    padding-left: 15%;
    font-size: 4vw;
  }
  article{
    width: 100%;
  }
  aside{
    width: 100%;
    font-size:0;
    line-height:0;
  }
  h1{
    font-size: 6vw;
  }
  h2{
    font-size: 7vw;
  }
  h3{
      font-size: 4vw;
  }
  .Line-Item{
    text-align: center;
    display: block;
    padding-left: 0%;
    font-size: 5vw;
  }
}
*{
  text-decoration: none;
  margin:0%;
  padding:0%;
}
